<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Facto</title>
    <link rel="stylesheet" href="../css/addvacancycss.css">
     </head>
     <body>
    <div class="container">
       <form action="/adminedit-vac" method="post" >
   <h3>EDIT VACANCY DETAILS</h3>
   
    <hr>
    
    <label for="name"><b>Job Title</b></label>
    <input type="text" placeholder="Enter Name" name="job" value="<%= vacancy.vacancyname %>" id="name" required>

    <label for="num"><b>Experience</b></label>
    <input type="number" placeholder="No. of Years" name="experience" value="<%= vacancy.experience %>" id="num" required>

    <label for="degree"><b>Stream</b></label>
    <input type="text" placeholder="Qualification" name="stream" value="<%= vacancy.stream %>" id="degree" required>

    <label for="degree"><b>Qualification</b></label>
    <input type="text" placeholder="Qualification" name="qualification" value="<%= vacancy.qualification %>" id="degree" required>

    <br><br>
    <input type="hidden" name="id" value="<%= vacancy._id %>">
    <button type="submit" class="registerbtn">UPDATE VACANCY</button>

    <div class="loginkro">
    <a href="/dashboard"  style="color:black">BACK TO DASHBOARD</a> <br>
</div> 
 
     
</form>
</div>
</body>
</html>